{% extends "layout.html" %}
{% block title %}{{ service_name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-purple">
          <div class="widget-user-image">
            <img class="img-circle" src="{{ url_for('static', filename='img/user7-128x128.jpg') }}" alt="User Avatar">
          </div>
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">{{ org_name }}</h3>
          <h5 class="widget-user-desc">{{ service_name }}</h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <form action = "response" method = "POST">
                <table class="table table-hover">
                    <tr>
                      <th class="col-md-2">Method:</th>
                      <td class="col-md-6">{{ method }}<input type="hidden" name="method" value={{ method }} ></td>
                    </tr>
                    {% for method_t in method_info %}
                    <tr>
                        <th class="col-md-2">[{{ method_t[0] }}] {{ method_t[1] }}:</th>
                        <td class="col-md-6"><input type="text" name="params#{{ method_t[1] }}" value="{{method_t[3]}}" /></td>
                    </tr>
                    {% endfor %}
                </table>
                <input type="hidden" name="agent_address" id="agent_address" value={{ agent_address }} >
                <input type="hidden" name="org" value={{ org_name }} >
                <input type="hidden" name="service" value={{ service_name }} >
                <button type="submit" class="btn btn-primary" id="getResponse">GetResponse</button>
            </form>
            <br>
          </ul>
        </div>
      </div>
    </div>
</div>
<li><a href="/">Back</a></li>

<div class="row">
    <div class="col-lg-12">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-purple">
            <div class="widget-user-image">
                <img class="img-circle" src="{{ url_for('static', filename='img/user7-128x128.jpg') }}" alt="User Avatar">
            </div>
            <h3 class="widget-user-username">Job Created!</h3>
            <h5 class="widget-user-desc">Transaction Receipt:</h5>
        </div>
        <div class="box-footer no-padding">
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <table class="table table-hover">
                        {% for key, value in events.items() %}
                            <tr>
                                <th class="col-md-2"> {{ key }} </th>
                                <td class="col-md-6"><span class="{{ key }}">{{ value }}</span></td>
                            </tr>
                        {% endfor %}
                    </table>
                </ul>
                <ul class="nav nav-stacked">
                    <table class="table table-hover">
                        {% for key, value in receipt.items() %}
                            <tr>
                                <th class="col-md-2"> {{ key }} </th>
                                <td class="col-md-6"> {{ value }} </td>
                            </tr>
                        {% endfor %}
                    </table>
                </ul>
            </div>
        </div>
      </div>
    </div>
</div>

<li><a href="/">Back</a></li>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/js/callService.js?ver={{call_service_version}}"></script>
{% endblock %}