{% extends "layout.html" %}
{% block title %}{{ service_name }}{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-lg-12">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-purple">
            <div class="widget-user-image">
              <img class="img-circle" src="{{ url_for('static', filename='img/user7-128x128.jpg') }}" alt="User Avatar">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">{{ org_name }}</h3>
            <h5 class="widget-user-desc">{{ service_name }}</h5>
          </div>
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
              <table>
              {% for key, value in response.items() %}
                 <tr>
                      <th> {{ key }} </th>
                      <td> {{ value }} </td>
                 </tr>
              {% endfor %}
              </table>
              <table>
              {% for key, value in service_response.items() %}
                 <tr>
                      <th> {{ key }} </th>
                      <td> {{ value }} </td>
                 </tr>
              {% endfor %}
              </table>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <li><a href="/">Voltar</a></li>
{% endblock %}