{% extends "layout.html" %}
{% block title %}{{ service_name }}{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-lg-12">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-purple">
            <div class="widget-user-image">
              <img class="img-circle" src="{{ url_for('static', filename='img/user7-128x128.jpg') }}" alt="User Avatar">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">{{ org_name }}</h3>
            <h5 class="widget-user-desc">{{ service_name }}</h5>
          </div>
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
              <table class="table table-hover">
              {% for key, value in response.items() %}
                 <tr>
                      <th class="col-md-2"> {{ key }} </th>
                      <td class="col-md-6"> {{ value }} </td>
                 </tr>
              {% endfor %}
              </table>
                {% if service_response != -1 %}
                    <br>{{ service_response|safe }}<br>
                {% else %}
                    <table class="table table-hover">
                         <tr>
                              <th class="col-md-2"> Error </th>
                              <td class="col-md-6"> Job invocation not valid. </td>
                         </tr>
                         <tr>
                              <th class="col-md-2"> Error </th>
                              <td class="col-md-6"> Wait a few seconds and try again! </td>
                         </tr>
                    </table>
                    <br>
                    <form action = "callService" method = "POST">
                        <table class="table table-hover">
                            <tr>
                              <th class="col-md-2">Method:</th>
                              <td class="col-md-6">{{ method }}<input type="hidden" name="method" value={{ method }} ></td>
                            </tr>
                            {% for method_t in method_info %}
                            <tr>
                                <th class="col-md-2">[{{ method_t[0] }}] {{ method_t[1] }}:</th>
                                <td class="col-md-6"><input type="text" name="params#{{ method_t[1] }}" value="{{method_t[3]}}" /></td>
                            </tr>
                            {% endfor %}
                        </table>
                        <input type="hidden" name="agent_address" id="agent_address" value={{ agent_address }} >
                        <input type="hidden" name="org" value={{ org_name }} >
                        <input type="hidden" name="service" value={{ service_name }} >
                        <button type="submit" class="btn btn-primary" id="callAgain">CallAgain</button>
                    </form>
                {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <li><a href="/">Back</a></li>
{% endblock %}