{% extends "layout.html" %}
{% block title %}{{ service_name }}{% endblock %}
{% block content %}
{% for service_info in service_spec %}
    <div class="row">
        <div class="col-lg-12">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-purple">
              <div class="widget-user-image">
                <img class="img-circle" src="{{ url_for('static', filename='img/user7-128x128.jpg') }}" alt="User Avatar">
              </div>
              <!-- /.widget-user-image -->
              <h3 class="widget-user-username">{{ org_name }}</h3>
              <h5 class="widget-user-desc">{{ service_name }}</h5>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                  <table>
                    {% for key, value in service_info.items() %}
                      {% if key != 'service_spec' %}
                       <tr>
                            <th> {{ key }} </th>
                            <td> {{ value }} </td>
                       </tr>
                      {% endif %}
                    {% endfor %}
                  </table>
                  <br>
                  {% for service_k, service_v in service_info.items() %}
                    {% if service_k == 'service_spec' %}
                        {% for k1, v1 in service_v.items() %}
                                    <table>
                                    {% for k2, v2 in v1.items() %}
                                        {% if k2 == 'method' %}
                                          <tr>
                                              <th>Method:</th>
                                              <td>{{ v2 }}</td>
                                          </tr>
                                        {% endif %}
                                        {% if k2 == 'request' %}
                                            {% for k3, v3 in v2.items() %}
                                                {% for k4, v4 in v3.items() %}
                                                    {% if k4 == 'params' %}
                                                        <tr>
                                                            <th>Params:</th>
                                                            <td>
                                                            {% for k5, v5 in v4.items() %}
                                                                {{ k5 }},
                                                            {% endfor %}
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    </table>
                                    {% for k2, v2 in v1.items() %}
                                        {% if k2 == 'method' %}
                                          <form action = "selected_service" method = "POST">
                                              <input type="hidden" name="org" value={{ org_name }} >
                                              <input type="hidden" name="service" value={{ service_name }} >
                                              <input type="hidden" name="method" value={{ v2 }} >
                                              <input type="submit" value="Submit" />
                                          </form>
                                        {% endif %}
                                    {% endfor %}
                        {% endfor %}
                    {% endif %}
                  {% endfor %}
              </ul>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
    <li><a href="/">Voltar</a></li>

{% endblock %}